<%size='300x350'%>

<div class="d-flex flex-wrap justify-content-center mb-5">
<%=image_tag('5D11F535-9C14-4B9C-9DEB-BE6B46CB8EF2',size:size,class:'mx-3 my-3')%>
<%=image_tag('10AD2755-9009-425A-9839-3B3C58860D8A',size:size,class:'mx-3 my-3')%>
<%=image_tag('2581DE0E-AE39-4075-A76C-C941F496BAFC',size:size,class:'mx-3 my-3')%>
</div>