  <h2 class="text-center">Local Gems!</h2>

<p>Meet Eastern european women that are a perfect match for you and are ALREADY in the U.S.</p>

<ul>
<li><strong>Subscribe:</strong> You will get the opportunity to meet a potential soulmate thanks to the work of our matchmaker. <strong> Be clear about your goals.</strong> What are you looking for in a partner? What are your dealbreakers?</li>
<li> <strong>Right Here in the U.S.:</strong> If you do not like to travel, or want to meet local girls, this is the perfect plan for you!</li>
<li><strong>No cultural Clash!:</strong> Eastern European women living in U.S. had the time to adapt to a new culture and stablish a good bond with the land and maybe they made some friends too, so catching up is easier with local gems subscription!  </li>
</ul>


