<%size='300x350'%>

<div class="d-flex flex-wrap justify-content-center mb-5">
<%=image_tag('9E40D9AD-2E6E-42F8-B8E5-69A003A908DE',size:size,class:'mx-3 my-3')%>
<%=image_tag('9CA72AB7-B122-415F-A12A-AB0BFCCAB26D',size:size,class:'mx-3 my-3')%>

<%=image_tag('3153CE66-55AE-43CB-91CD-EB01A1685BFD',size:size,class:'mx-3 my-3')%>
</div>