<%size='300x350'%>

<div class="d-flex flex-wrap justify-content-center mb-5">
<%=image_tag('1303D1AE-C79A-41FA-A651-59CE1E8F6057',size:size,class:'mx-3 my-3')%>

<%=image_tag('52324E0B-A437-4D71-9710-387C63B78D82',size:size,class:'mx-3 my-3')%>
<%=image_tag('E8B5F2CA-AEF2-4CF4-BF33-0479EC4648AE',size:size,class:'mx-3 my-3')%>
</div>