<div class="container">
<h1 class="text-center mt-5 mb-5"> Meet Latvia and Latvian Beauties!</h1>

<p>Lets insert here content about other parts of riga an latvia please.</p>

<div class="card my-3">
    <h2>Landscapes</h2>
</div>
<div class="card my-3">
    <h2>Culture</h2>
</div>
<div class="card my-3">
    <h2>Riga in pictures!</h2>
</div>
<div class="card my-3">
    <h2>Food</h2>
</div>
<div class="card my-3">
    <h2>Natural beauty</h2>
</div>



</div>