
<%=turbo_frame_tag 'meetgreet_form' do%>
<h3 class='text-center'>Meet & Greet</h3>
<%=render 'newmeetgreet'%>
<%end%>

<%=turbo_frame_tag 'vip_form' do%>

<h3 class='text-center'>V I P</h3>
<%=render 'newvip'%>
<%end%>
