  <div class="container">

  
    <h2>Culture</h2>
    <p class="mx-4">Riga is a city with a rich and diverse culture. The city is home to a number of museums, theaters, and art galleries, as well as a variety of festivals and events throughout the year.</p>
<p class="mx-4">Some of the most popular cultural attractions in Riga include:</p>
<ul>
 <li class="mx-4">The Latvian National Museum of Art</li>
 <li class="mx-4">The Latvian National Opera and Ballet</li>
 <li class="mx-4">The Riga City Museum</li>
 <li class="mx-4">The Riga International Film Festival</li>
 <li class="mx-4">The Riga Christmas Market</li>
</ul>
<p class="mx-4">Riga is a great place to experience Latvian culture. The city is full of history, art, and music, and there is something for everyone to enjoy.</p>
  </div>