  <div class="container border-top border-dark">

  
    <h2 class='mt-4'>Culture</h2>
    <p class="mx-4">Riga is a city with a rich and diverse culture. The city is home to a number of museums, theaters, and art galleries, as well as a variety of festivals and events throughout the year.</p>
<p class="mx-4">Some of the most popular cultural attractions in Riga include:</p>
<ul>
 <li class="mx-4"><a  href="https://en.wikipedia.org/wiki/Latvian_National_Museum_of_Art">The Latvian National Museum of Art</a></li>
 <li class="mx-4"><a  href="https://en.wikipedia.org/wiki/Latvian_National_Opera"> The Latvian National Opera and Ballet</a></li>
 <li class="mx-4"><a  href="https://en.wikipedia.org/wiki/Art_Museum_Riga_Bourse"> The Riga Bourse Art Museum</a></li>
 <li class="mx-4"><a  href="https://en.wikipedia.org/wiki/Riga_International_Short_Film_Festival_2ANNAS"> The Riga International Film Festival</a></li>
</ul>
<p class="mx-4">Riga is a great place to experience Latvian culture. The city is full of history, art, and music, and there is something for everyone to enjoy.</p>
  </div>