  <div class="container">
    <h2>Food</h2>
    <p class="mx-4">Riga is a city with a rich and diverse gastronomy. The city is home to a number of restaurants serving Latvian, European, and international cuisine.</p>
<p class="mx-4">Some of the most popular dishes in Riga include:</p>
<ul>
<li class="mx-4">Sklandrausis: A traditional Latvian dish made with rye bread, filled with a mixture of vegetables, fruit, and cream.</li>
<li class="mx-4">Zemgale Lamb Soup: A hearty soup made with lamb, potatoes, carrots, and onions.</li>
<li class="mx-4">Black Balsamic Beet Soup: A sweet and sour soup made with beets, balsamic vinegar, and sour cream.</li>
<li class="mx-4">Shrimp Riga Style: A dish of shrimp cooked in a creamy sauce with mushrooms and capers.</li>
</ul>
<p class="mx-4">Riga is a great place to experience Latvian cuisine. The city is full of flavors, and there is something for everyone to enjoy.</p>
  </div>