<%size='300x350'%>

<div class="d-flex flex-wrap justify-content-center mb-5">
<%=image_tag('riga1',size:size,class:'mx-3 my-3')%>
<%=image_tag('riga2',size:size,class:'mx-3 my-3')%>
<%=image_tag('riga3',size:size,class:'mx-3 my-3')%>
</div>