  <div class="container">

  
    <h2>Landscapes</h2>
     <p class="mx-4">Riga is a beautiful city with a lot to offer visitors. One of the best things about Riga is its landscapes. The city is located on the Daugava River, and there are many parks and gardens to explore. The Old Town is also a UNESCO World Heritage Site, and it is full of charming architecture.</p>
        <p class="mx-4">If you are looking for a city with beautiful landscapes, Riga is a great option.</p>

    

  </div>
  </div>
