  <div class="container border-top border-dark">
    <h2 class='mt-4'>Natural beauty</h2>
     <p class="mx-4">Riga is a city with a lot to offer visitors, including the natural beauty of its women. Latvian women are known for their long, blonde hair, blue eyes, and fair skin. They are also known for their grace, elegance, and intelligence.</p>
    <p class="mx-4">Some of the most beautiful women in Riga can be found in the Old Town. The Old Town is a UNESCO World Heritage Site, and it is full of charming architecture. The women who live in the Old Town are often seen walking their dogs, shopping in the markets, or simply enjoying the city's many parks and gardens.</p>
    <p class="mx-4 fw-bold fs-5">If you are looking for a city with beautiful women, Riga is a great option.</p>
  </div>