<%size='400x300'%>

<div class="d-flex flex-wrap justify-content-center mb-5">
<%=image_tag('natural2',size:size,class:'mx-2 my-3')%>
<%=image_tag('natural1',size:size,class:'mx-2 my-3')%>
<%=image_tag('natural4',size:size,class:'mx-2 my-3')%>
</div>