<footer class="container-fluid">

<div class="row align-items-start text-light text-center pt-3 mt-5" style="background-color: #151515">
<div class="col"><p> Baltic Love - All rights reserved 2023</p></div>
<div class="col"> Contact us and fall in love with a latvian women.</div>
<div class="col">Join now</div>


</div>

</footer>