<div class="container-fluid pt-3 pb-3 text-light" style='background: rgb(212,15,174);
background: linear-gradient(90deg, rgba(212,15,174,1) 25%, rgba(250,114,215,1) 75%)'>


<h1 class="text-start" style>Baltic Love <i class="fa-regular fa-heart fa-lg"></i></h1>

<!--<div class="container-fluid" style='height:5px; background-color: #151515'></div>-->

</div>